In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
heart = pd.read_csv("heart.csv")

In [4]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
X = heart.drop("target",axis=1)
Y = heart["target"]

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [7]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [8]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [9]:
clf = RandomForestClassifier()

In [10]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [11]:
 from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2)

In [13]:
clf.fit(X_train,Y_train)

RandomForestClassifier()

In [14]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
79,58,1,2,105,240,0,0,154,1,0.6,1,0,3
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2
126,47,1,0,112,204,0,1,143,0,0.1,2,0,2
175,40,1,0,110,167,0,0,114,1,2.0,1,0,3
206,59,1,0,110,239,0,0,142,1,1.2,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2
88,54,0,2,110,214,0,1,158,0,1.6,1,0,2
96,62,0,0,140,394,0,0,157,0,1.2,1,0,2
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
169,53,1,0,140,203,1,0,155,1,3.1,0,0,3

In [15]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [16]:
X[0]

KeyError: 0

In [17]:
y_preds = clf.predict(X_test)

In [18]:
y_preds

array([1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0])

In [19]:
clf.score(X_train,Y_train)

1.0

In [20]:
clf.score(X_test,Y_test)

0.7540983606557377

In [21]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [23]:
classification_report(Y_test,y_preds)

'              precision    recall  f1-score   support\n\n           0       0.80      0.59      0.68        27\n           1       0.73      0.88      0.80        34\n\n    accuracy                           0.75        61\n   macro avg       0.77      0.74      0.74        61\nweighted avg       0.76      0.75      0.75        61\n'

In [24]:
confusion_matrix(Y_test,y_preds)

array([[16, 11],
       [ 4, 30]])

In [25]:
accuracy_score(Y_test,y_preds)

0.7540983606557377

In [28]:
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with{i} estimators")
    clf = RandomForestClassifier(n_estimators=i)
    clf.fit(X_train,Y_train)
    print(f"Model accuracy on test set:{clf.score(X_test,Y_test)*100:.2f}%")
    print("")

Trying model with10 estimators
Model accuracy on test set:73.77%

Trying model with20 estimators
Model accuracy on test set:73.77%

Trying model with30 estimators
Model accuracy on test set:75.41%

Trying model with40 estimators
Model accuracy on test set:75.41%

Trying model with50 estimators
Model accuracy on test set:73.77%

Trying model with60 estimators
Model accuracy on test set:75.41%

Trying model with70 estimators
Model accuracy on test set:75.41%

Trying model with80 estimators
Model accuracy on test set:75.41%

Trying model with90 estimators
Model accuracy on test set:75.41%

In [29]:
import pickle

In [30]:
pickle.dump(clf, open("random_forest_model1.pkl","wb"))

In [ ]:
loaded_model = pickle.load(open("random_forest_model1.pkl","rb"))